.app{
  /* display: flex; */
  background-color: #efeff1; 
  
}

/* .main{
  flex: 1;
} */

.side{
  width: 300px;
  background-color: #2F3548;
}

.main{
  padding: 20px;
  padding-top: 100px;
}

@media screen and (max-width: 500px){
  .main{
    padding: 10px;
    padding-top: 120px;
  }
}

/* Nav */

.ratings_head{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(22, 114, 253);
  padding: 15px;
}

.ratings_head h1{
  margin-right: auto;
  color: white;
  font-weight: 200;
  letter-spacing: 5px;
}

.ratings_head .dropdown{
  margin-left: 20px;
}

.dropdown_container{
  display: flex;
}

@media screen and (max-width: 500px){
  .ratings_head{
    padding: 10px 5px;
    display: block;
    text-align: center;
  }
  .ratings_head h1{
    font-size: 20px;
  }

  .dropdown_container{
    justify-content: center;
    margin-top: 10px;
  }
  .ratings_head .dropdown{
    font-size: 12px;
    min-width: 100px;
    margin-left: 10px;
  }
}

/* Averages */
h2{
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.general{
  padding: 10px;
}

.averages{
  background-color: #1d1c1c;
  color: white;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
}

@media screen and (max-width: 650px){
  .averages{
    flex-direction: column;
  }
}

.aspect_averages{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  background-color: #272626;
  padding: 15px;
}

.aspect_averages .progress{
  width: 50%;
  margin-bottom: 10px;
  
}

.aspect_averages .progress:nth-child(odd){
  padding-right: 10px;
  
}
/* Rating list */

.rating_list{
  /* padding: 20px;
  background-color: #f5f5f5; */
  /* margin-top: 30px; */
}

.rating{
  padding: 15px;
  background: white;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.aspects_container{
  max-height: 0;
  transition: max-height 0.4s;
  overflow: hidden;
}

.aspects_container.open{
  max-height: 200px;
}

.rating .aspect_averages{
  margin: 5px 0;
  border-radius: 3px;
  color: white;
}

.rating__head{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eae9e9;
}
.rating__user{
  font-size: 20px;
  margin-right: 10px;
  color: #2f3548;
}

.rating__show{
  color: #736e6e;
}

.rating__show:hover{
  text-decoration: underline;
  color: black;
}

.rating_score{
  background: #1eb6ff;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  font-size: 13px;
}

.rating__travel_date{
  font-size: 13px;
  color: gray;
  margin-left: 10px;
}
.rating__entry{
  margin-left: auto;
  font-size: 12px;
  color: gray;
}

.rating__title{
  margin: 15px 0;
}

.rating__text{
  color: #828080;
}

.pagination{
  display: flex;
  padding: 10px;
  max-width: 200px;
  margin: 0 auto;
  justify-content: center;
}

.pagination__current{
  margin: 0 15px;
}

.pagination__link{
  color: gray;
}

.pagination__link:hover{
  text-decoration: underline;
}

/* Components */
@keyframes fadeIn{
  0%{
    display: block;
    opacity: 0;
    transform: translateY(-10px);
  }
}
.dropdown{
  position: relative;
  min-width: 150px;
}

.dropdown__label{
  color: white;
  margin-bottom: 5px;
  font-size: 12px;
}

.dropdown__head{
  background: #272626;
  border-radius: 3px;
  padding: 10px;
  display: block;
  color: white;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__list{
  display: none;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}

.dropdown__list--open{
  display: block;
  animation: fadeIn 0.2s linear;
}

.dropdown__item{
  padding: 10px;
  display: block;
  background-color: white;
  transition: background-color .2s;
}

.dropdown__item:hover{
  background-color: #e0e0e0;
}

.dropdown__item.active{
  background-color: rgb(22, 114, 253);
  color: white;
}

.circle_progress {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.circle_progress svg{
  transform: rotate(-90deg);
}
.circle_progress circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}
.circle_progress .bar {
  stroke: #1eb6ff;
  transition: stroke-dashoffset .3s;
}

.circle_progress:after {
  position: absolute;
  display: block;
  color: white;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  content: attr(data-pct);
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
}

.progress{
}

.progress__label{
  margin-bottom: 10px;
}

.progress__bar{
  height: 7px;
  display: flex;
  border-radius: 10px;
  background-color: gray;
}

.progress__completed{
  background: #1eb6ff;
  width: 0;
  transition: width 0.3s;
  border-radius: 10px;
}
